./vs/*
*.exe
*.vsidx
/.vs
./x64/
Win32/
Release/
GoldEngine-Internal/x64/
GoldEngine-Internal/Win32/
GoldEngine_Internal/obj/
Build/
Build
Utils/
Utils/WineBootstrap/bin/**
Utils/WineBootstrap/WineBootstrapper/Release/
Utils/WineBootstrap/WineBootstrapper/Debug/
Utils/WineBootstrap/WineBootstrapper/.vs/
Utils/WineBootstrap/bin/bootstrapper
Utils/WineBootstrap/WineBootstrapper/.vs/WineBootstrapper/v17
.workspace