./vs/*
*.exe
*.vsidx
/.vs
./x64/
Win32/
Release/¡
./GoldEngine-Internal/Data/
./GoldEngine-Internal/x64/
./GoldEngine-Internal/Win32/
./GoldEngine_Internal/Release/
./GoldEngine_Internal/obj/
./Build/*
./Build/**
**/Build
Build
./Utils/WineBootstrap/bin/**
./Utils/WineBootstrap/WineBootstrapper/Release/
./Utils/WineBootstrap/WineBootstrapper/Debug/
./Utils/WineBootstrap/WineBootstrapper/.vs/
/Utils/WineBootstrap/bin/bootstrapper
/Utils/WineBootstrap/WineBootstrapper/.vs/WineBootstrapper/v17
.workspace
./Libs
./Libs/*
/GoldEngine-Internal/x64
